 body {
     font-family: Arial, sans-serif;
     background: linear-gradient(to right, #d0e7ff, #5952b6);
     background-size: 400% 400%;
     text-align: center;
     padding-top: 12%;
     animation: gradient 15s ease infinite;
 }

 @keyframes gradient {
     0% {
         background-position: 0% 50%;
     }

     50% {
         background-position: 100% 50%;
     }

     100% {
         background-position: 0% 50%;
     }
 }

 button {
     padding: 10px 20px;
     margin: 10px;
     cursor: pointer;
     border-radius: 25px;
     border-color: blue;
     font-weight: 500;
     transition: transform 0.3s linear;
 }

 button:hover {
     background-color: #8575ff;
     transform: scale(1.05);
 }

 #resultado {
     margin-top: 20px;
     padding: 10px;
     background-color: rgba(255, 255, 255, 0.8);
     border-radius: 25px;
     display: inline-block;
 }